body{
    background-color: #e0ebe8;
    color: #45b29a;
    text-align: center;
     
    
}
.cloud{
    position: relative;
    height: 150px;
    width: 280px;
    left: 55px;
    
}
.jiraya{ 
     
    width: 87px;
    right: 580px;
     

}
.top-box{
    display: inline-block;
            
}

.middle-box{
    margin: 20px 0px 10px 0px;
}

.bottom-box{
    margin: 0px 0px 0px 0px;   
}

.mountain{
    width: 500px;    
}
.skills{
    background-color:  whitesmoke;

}

.skillimage{    
    width: 25%;
    float: left;
    margin-right: 30px;


}
.cyber-security{
    width: 25%;
    float: right;
    margin-right: 30px;

}
.profilep{
     
    width: 12%;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
     
     
}
hr{
    border:dotted #eaf6f6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}
p{
    font-family:"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: black;
     
}
li{
    color: black;
}
h2{
    padding: 10px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
a{
    color:  #11999E;
    font-family: 'Montserrat';
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;

}
div{
     
    text-align: center;
    margin-top: 50px;
    color: #45b29a;
    /*background-color: aquamarine;*/
       
}
.bottom-container{
    background-color: aquamarine;
}

.btn {
    background: #45b29a;
    background-image: -webkit-linear-gradient(top, #45b29a, #2980b9);
    background-image: -moz-linear-gradient(top, #45b29a, #2980b9);
    background-image: -ms-linear-gradient(top, #45b29a, #2980b9);
    background-image: -o-linear-gradient(top, #45b29a, #2980b9);
    background-image: linear-gradient(to bottom, #45b29a, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 18px 12px 18px;
    border: solid #45b29a 0px;
    text-decoration: none;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


  
   
